[submodule "src/cuemslogger"]
	path = src/cuemslogger
	url = https://github.com/stagesoft/cuemslogger.git
[submodule "src/mtcreceiver"]
	path = src/mtcreceiver
	url = https://github.com/stagesoft/mtcreceiver.git
[submodule "src/oscreceiver"]
	path = src/oscreceiver
	url = https://github.com/stagesoft/oscreceiver.git
